<div class="hero">
  <br />
  <br />
  <br />
  <br />

  <div class="hero--box">
    <h1 class="hero--box--title">Launch your own Web App</h1>
      <br />
    <h3 class="hero--box--description">Technical skills courses from the best startups in the country</h3>
      <br />
      <br />
    <%= link_to 'Learn more', '#', class: 'btn btn-success hero--box--button' %>
    </div>
</div>    

<div class="features">

  <br />

  <div class="features--box">

      <div class="features--card">
        <i class="features--card--icon glyphicon glyphicon-play-circle"></i>
        <h4 class="features--card--title">Video instructions</h4>
        <p class="features--card--description">Step by step video instructions on how to build an awesome web application in a single weekend.</p>
      </div>
   
      <div class="features--card">
        <i class="features--card--icon glyphicon glyphicon-blackboard"></i>
        <h4 class="features--card--title">Latest technologies</h4>
        <p class="features--card--description">Learn the latest techniologies used by the best startups (Github, Javascript, Ruby, HTML5, CSS3 ...).</p>
      </div>  

      <div class="features--card">
        <i class="features--card--icon glyphicon glyphicon-console"></i>
        <h4 class="features--card--title">Extra help</h4>
        <p class="features--card--description">All the code snippets, cheat sheets and notes you need to continue building apps on your own after class.</p>
      </div>

  </div>

    <br />
</div>

<div class="clear"></div>
