<div class="hero">
  <br />
  <br />
  <br />

  <div class="hero--box">
    <h1 class="hero--box--title">Launch your Own Web App</h1>
      <br />
    <h3 class="hero--box--description">Technical skills courses from the best startups in the country</h3>
      <br />
      <br />
    <%= link_to 'Learn more', '#', class: 'btn btn-success hero--box--button' %>
    </div>

</div>