@import 'master';

$footer-height: 20px;

.course-hero {
  background-color: $secondary-color;
  padding: 50px;
  text-align: center;
  margin-bottom: 20px;

  .course-hero--title {
    font-size: 50px;
  }

  .course-hero--count {
    color: white;
  }

  .course-hero--price {
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    margin:auto;
    font-weight: 700;
    color: white;
  }

  .course-hero--administrate {
    color: white;
    margin-left: 20px;
    float: right;

    &:hover {
      color: black;
      text-decoration: none;
    }

  }

  .course-hero--create {
    color: white;
    float: left;

    &:hover {
      color: black;
      text-decoration: none;
    }

  }

  .course-hero--button {
    font-size: 18px;
    font-weight: 700;
    background-color: black;
    border-radius: 0;
    padding: 13px;
    border: 0;

    &:hover {
      background-color: white;
      color: $secondary-color;
    }
  }

  .course-hero--enrolled {
  background-color: #d5d5d5;
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    margin:auto;
    font-weight: 700;
    color: white;  
  }

}

.course-listing {

    @include make-md-column-offset(2);  

  .course-listing--wrapper {
    @include make-md-column(5);
    padding: 10px;
    }

  .course-listing--box {
    background: $tertiary-color;
    padding: 25px;
  }

  .course-listing--titlebox {
    height: 150px;
  }

  .course-listing--title { 
      color: black;

        &:hover {
          text-decoration: none;
          color: $secondary-color;
        }

     }


  .course-listing--link {
    color: $secondary-color;
    font-weight: 700;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
    
  }

}

.course-section {

  @include make-md-column(6);
  @include make-md-column-offset(3);

  h4 {
    font-weight: 700;
  }

  .course-section--title {
   color: $tertiary-color; 
  }


  .course-section--lesson {
      background: $tertiary-color;
      color: black;
      padding: 10px;
      margin-top: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        background-color: $secondary-color;
      }

  }

  .course-section--create {
    color: $secondary-color;
  }

}






